* {
    box-sizing: border-box;
}

body {
    background-color: #EFEFEF;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

    /* header */
.logo {
    float: left;
    margin-top: 15px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 25px;
}

header {
    background-color: #EFEFEF;
    padding: 1px;
    height: 60px;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

nav {
    margin-right: 30px;
    text-align: right;
    position: sticky;
}

nav li {
    display: inline;
    list-style-type: none;

}

nav a {
    text-decoration: none;
    color: black;
    font-size: 16PX;
    font-weight: bold;
    margin-left: 15px;
}

    /* main */
.jumbotron {
    background-image: url(images/jumbotron.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

    /* service */
#service {
    text-align: center;
    margin: 70px;
}

.row1, .row2 {
    display: flex;
    justify-content: center;
}

.column1, .column2 {
    margin: 50px;
}

.row1 .column1 {
    background-image: url(images/photoshoot-service.jpg);
    width: 50%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    top: 10px;
}

.row1 .column2 {
    width: 50%;
    text-align: left;
}

.row1 .column2 p {
    font-size: 20px;
    line-height: 40px;
}

.row1 .column2 button {
    color: white;
    background-color: black;
    width: 110px;
    height: 40px;
    border-radius: 20px;
}

    /* Portofolio */
.portofolio {
    text-align: center;
    margin: 70px;
}

/* .row1:after {
    content: "";
    display: table;
    clear: both;
} */