@media screen and (max-width: 912px) {
    .menu-toggle {
        height: 0;
    }

        /* service */
    #service {
        text-align: center;
        background-color: white;
    }

    #service h1 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .service-row1 .service-column2 p {
        font-size: 15px;
        line-height: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

 
}