@media screen and(max-width: 576px) {
    nav ul {
        visibility: hidden;
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        height: 20px;
        justify-content: space-between;
    }

    .menu-toggle span {
        display: block;
        width: 28px;
        height: 3px;
        background-color: black;
    }
}