@media screen and (max-width: 700px) {
    nav .menu {
        position: absolute;
        background-color: #EFEFEF;
        flex-direction: column;
        left: 0;
        width: 100%;
        text-align: center;
        top: 4em;
        z-index: -99;
        transform: translateY(-150%);
        transition: all 0.5s;
        opacity: 0;
    }

    nav .slide {
        opacity: 1;
        transform: translateY(0);
    }

    .jumbotron img {
        height: 20rem;
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        height: 20px;
        justify-content: space-between;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 1.5em;
        margin-right: 2em;
    }

    .menu-toggle span {
        display: block;
        width: 28px;
        height: 3px;
        background-color: black;
        border-radius: 3px;
        transition: all 0.5s;
    }

    .menu-toggle input {
        position: absolute;
        width: 28px;
        height: 20px;
        cursor: pointer;
        z-index: 100;
        opacity: 0;
    }

    .menu-toggle span:nth-child(2) {
        transform-origin: 0;
    }

    .menu-toggle span:nth-child(4) {
        transform-origin: 0 100%;
    }

    .menu-toggle input:checked ~span:nth-child(2) {
        transform: rotate(45deg) translate(-1px, -1px);
    }

    .menu-toggle input:checked ~span:nth-child(4) {
        transform: rotate(-45deg) translate(-1px, 0);
    }

    .menu-toggle input:checked ~ span:nth-child(3) {
        transform: scale(0);
    }

    .menu-toggle input:checked ~ main:nth-child(2) {
        float: right;
    }

    /* service */
    #service h1 {
        font-size: 1.5em;
    }

    .service-row1 {
        flex-direction: column;
        align-items: center;
    }

    .service-row1 .service-column1 {
        justify-items: center;
        width: 90%;
    }

    .service-row1 .service-column2 {
        width: 90%;
        margin-top: 0;
    }

    #portofolio h1,
    #about h1,
    #team h1,
    #order h1,
    #contact h1 {
        font-size: 1.5em;
    }

        /* portofolio */
    #portofolio .card-image img {
        height: 300px;
    }

    .portofolio-container {
        flex-direction: column;
        align-items: center;
    }

    .portofolio-container .card {
        width: 90%;
        align-items: center;
        height: 30rem;
    }

    #portofolio .card {
        height: auto;
    }

    #portofolio .card-title {
        margin-top: 150px;
    } 

        /* about */
    #about .about-row {
        flex-direction: column;
    }

    .about-row-column1,
    .about-row-column2 {
        width: 100%;
        margin-left: 0;
    }

        /* team */
    .team-card {
        width: 10rem;
    }

    .team-card img {
        height: 10em;
    }

    .team-contact .ig img,
    .team-contact .fb img,
    .team-contact .in img,
    .team-contact .tw img {
        height: 2em;
        width: 2em;
        object-fit: cover;
        opacity: 60%;
    }

        /* order */
    .order-row {
        flex-direction: column-reverse;
    }

    .order-column1 {
        width: 100%;
    }

        /* footer */
    .footer-row {
        display: block;
    }
    
    .contact-info, .contact-form {
        margin: 0;
        padding: 30px;
        width: 100%;
    }
}